# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Lava Test Task.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Lava Test Task\.idea\.idea.Lava Test Task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
